# requirements.txt

certifi==2019.11.28
chardet==3.0.4
dbus-python==1.2.16
idna==2.8
Pygments==2.3.1
PyGObject==3.36.0
python-apt==2.0.1+ubuntu0.20.4.1
PyYAML==5.3.1
requests==2.22.0
requests-unixsocket==0.2.0
six==1.14.0
urllib3==1.25.8
